<div class="dialog">
    <div class="dialog-header">
        <h1 mat-dialog-title>Update Booking</h1>
    </div>
    <mat-dialog-content class="dialog-content">
        <form [formGroup]="bookingForm" (ngSubmit)="save()">
            <div class="data-row">
                <label class="label">Title: {{booking.bookTitle}}</label>
            </div>
            <div class="data-row">
                <label class="label"> User: {{booking.userName}}</label>
            </div>
            <div class="data-row">
                <mat-form-field appearance="outline">
                    <mat-label>Start Date</mat-label>
                    <input matInput formControlName="startDate" 
                           [matDatepicker]="startDatePicker" (click)="startDatePicker.open()">  
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>  
                </mat-form-field>
                <div>
                    <span class="text-danger"
                            *ngIf="(bookingFormControl.startDate.touched || submitted) && bookingFormControl.startDate.errors">
                        Choose a date
                    </span>
                </div> 
            </div>
            <div class="data-row">
                <mat-form-field appearance="outline">
                    <mat-label>End Date</mat-label>
                    <input matInput formControlName="endDate" 
                           [matDatepicker]="endatePicker" (click)="endatePicker.open()">  
                    <mat-datepicker-toggle matSuffix [for]="endatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endatePicker></mat-datepicker>  
                </mat-form-field>
                <div>
                    <span class="text-danger"
                            *ngIf="(bookingFormControl.endDate.touched || submitted) && bookingFormControl.endDate.errors">
                        Choose a date
                    </span>
                </div> 
            </div>
        </form>       
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="actions">
            <button mat-raised-button class="save-button" (click)="save()">Save</button>
            <button mat-raised-button color="primary" class="close-button" (click)="close()">Close</button>
        </div> 
    </mat-dialog-actions>
</div>
