.sidenav {
    background: #263238;
    top: 0;
    bottom: 0;
    width: 15rem;
    height: 100%;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

.title {
    padding: 0.938rem 0.938rem 0 0.938rem;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item{
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-icons {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }
            
            .sidenav-link-text {
                font-size: 22px;
                margin-left: 1.5rem;
            }
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #fff;
            color: #000;
        }
    }
}

.active {
    background-color: #fff;

    .sidenav-icons, .sidenav-link-text {
        color: #000;
    }
}