/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.success-snackbar {
  text-align: center !important;
  --mdc-snackbar-container-color: #263238 !important;
  color: white !important;  
}

.error-snackbar {
  text-align: center !important;
  --mdc-snackbar-container-color: #f44336 !important;
  color: white !important;
}
